<h1 class="title is-2">Password Generator</h1>
<div>
  <label>Enter length</label>
  <input class="input is-normal" (input)="onChangeLength($event)" />
</div>
<div>
  <label class="checkbox">Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()"/>
</div>
<div>
  <label>Use numbers</label>
  <input type="checkbox" (change)="onChangeNumbers()"/>
</div>
<div>
  <label>Use symbols</label>
  <input type="checkbox" (change)="onChangeSymbols()"/>
</div>
<div>
  <button 
      class="button is-black"
      (click)="onButtonClick()" 
      [disabled]="!(length &&(includeLetters||includeNumbers||includeSymbols))"
      >Generate!
  </button>
</div>
<div *ngIf="password" >
  <label>Your password</label>
  <input class="input is-normal" [value]="getPassword()"/>
</div>